<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> 
    
    <!--Spring AOP -->
    <aop:aspectj-autoproxy/>
    <bean id="creditsLimitationInterceptor" class="com.SVRPlatform.interceptor.CreditsLimitationInterceptor">
    	<property name="solutionVoteDAO" ref="solutionVoteDAO"></property>
    	<property name="bugWatchDAO" ref="bugWatchDAO"></property>
    </bean>
    <bean id="check" class="com.SVRPlatform.interceptor.CheckInterceptor">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    <!-- 
	<context:component-scan base-package="com.SVRPlatform.service"/>
     -->
     
    <!-- Action -->  
    
    <bean id="index" scope="prototype" class="com.SVRPlatform.action.Index">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    <!--  
     <bean id="signInAutomatically" scope="prototype" class="com.SVRPlatform.action.SignInAutomatically">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    -->
    
    <bean id="signIn" scope="prototype" class="com.SVRPlatform.action.SignIn">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    
    <bean id="signUp" scope="prototype" class="com.SVRPlatform.action.SignUp">
    	<property name="registerService" ref="registerService"></property>
    	<property name="loginService" ref="loginService"></property>
    </bean>
    
    <bean id="retrievePassword" scope="prototype" class="com.SVRPlatform.action.RetrievePassword">
    	<property name="passwordRetrieveService" ref="passwordRetrieveService"></property>
    </bean>
    
    <bean id="checkingHash" scope="prototype" class="com.SVRPlatform.action.CheckingHash">
    	<property name="passwordRetrieveService" ref="passwordRetrieveService"></property>
    </bean>
    
    <bean id="resetPassword" scope="prototype" class="com.SVRPlatform.action.ResetPassword">
    	<property name="passwordRetrieveService" ref="passwordRetrieveService"></property>
    </bean>
    
    <bean id="submitBug" scope="prototype" class="com.SVRPlatform.action.SubmitBug">
    	<property name="bugSubmitService" ref="bugSubmitService"></property>
    </bean>
    
    <bean id="makeComment" scope="prototype" class="com.SVRPlatform.action.MakeComment">
    	<property name="commentSubmitService" ref="commentSubmitService"></property>
    </bean>
    
    <bean id="submitSolution" scope="prototype" class="com.SVRPlatform.action.SubmitSolution">
    	<property name="solutionSubmitService" ref="solutionSubmitService"></property>
    </bean>
    
    <bean id="bugPage" scope="prototype" class="com.SVRPlatform.action.DisplayBug">
   		<property name="bugInfoDisplayService" ref="bugInfoDisplayService"></property>
    </bean>
    
    <bean id="displayComments" scope="prototype" class="com.SVRPlatform.action.DisplayComments">
    	<property name="commentsDisplayService" ref="commentsDisplayService"></property>
    </bean>
    
    <bean id="displaySolutions" scope="prototype" class="com.SVRPlatform.action.DisplaySolutions">
    	<property name="solutionsDisplayService" ref="solutionsDisplayService"></property>
    </bean>
    
    <bean id="solutionvote" scope="prototype" class="com.SVRPlatform.action.SolutionVoteAction">
    	<property name="solutionVoteService" ref="solutionVoteService"></property>
    </bean>
    
    <bean id="bugvote" scope="prototype" class="com.SVRPlatform.action.BugVoteAction">
    	<property name="bugWatchService" ref="bugWatchService"></property>
    </bean>
	<!-- ************************************************************************ -->
    <!-- ServiceImpls beans definition -->
    	<!-- user service -->
	    <bean id="loginService" class="com.SVRPlatform.service.impl.LoginServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    </bean>
	    
	     <bean id="registerService" class="com.SVRPlatform.service.impl.RegisterServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    </bean>
	    
	    <bean id="passwordRetrieveService" class="com.SVRPlatform.service.impl.PasswordRetrieveServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="hashForPasswordRetrieveDAO" ref="hashForPasswordRetrieveDAO"></property>
	    </bean>
	    <!-- ************ -->
	    
	    <!-- display service -->
	   	<bean id="bugInfoDisplayService" class="com.SVRPlatform.service.impl.BugInfoDisplayServiceImpl">
	   		<property name="bugDAO" ref="bugDAO"></property>
	   		<property name="userDAO" ref="userDAO"></property>  
	    	<property name="solutionDAO" ref="solutionDAO"></property>
	    	<property name="bugWatchDAO" ref="bugWatchDAO"></property>
	    </bean> 
	    
	    <bean id="commentsDisplayService" class="com.SVRPlatform.service.impl.CommentsDisplayServiceImpl">
	    	<property name="bugDAO" ref="bugDAO"></property>
	    	<property name="commentDAO" ref="commentDAO"></property>
	    </bean>
	    <bean id="solutionsDisplayService" class="com.SVRPlatform.service.impl.SolutionsDisplayServiceImpl">
	    	<property name="bugDAO" ref="bugDAO"></property>
	    	<property name="solutionDAO" ref="solutionDAO"></property>
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="solutionVoteDAO" ref="solutionVoteDAO"></property>
	    </bean>
	    
	    <bean id="solutionCommentDisplayService" class="com.SVRPlatform.service.impl.SolutionCommentDisplayServiceImpl">
	    	<property name="solutionDAO" ref="solutionDAO"></property>
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="solutionCommentDAO" ref="solutionCommentDAO"></property>
	    </bean>
	    <!-- *************** -->
	    
	    <!-- submit service  -->
	    <bean id="commentSubmitService" class="com.SVRPlatform.service.impl.CommentSubmitServiceImpl">
	    	<property name="commentDAO" ref="commentDAO"></property>
	    	<property name="bugDAO" ref="bugDAO"></property>
	    	<property name="userDAO" ref="userDAO"></property>
	    </bean>
	    
	    <bean id="solutionSubmitService" class="com.SVRPlatform.service.impl.SolutionSubmitServiceImpl">
			<property name="solutionDAO" ref="solutionDAO"></property>
	    	<property name="bugDAO" ref="bugDAO"></property>
	    	<property name="userDAO" ref="userDAO"></property>
		</bean>
	    
	    <bean id="bugSubmitService" class="com.SVRPlatform.service.impl.BugSubmitServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="bugDAO" ref="bugDAO"></property>
	    	<property name="softwareDAO" ref="softwareDAO"></property>
	    </bean>
	    
	    <bean id="solutionCommentSubmitService" class="com.SVRPlatform.service.impl.SolutionCommentSubmitServiceImpl">
	    	<property name="solutionDAO" ref="solutionDAO"></property>
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="solutionCommentDAO" ref="solutionCommentDAO"></property>
	    </bean>
	    <!-- *************** -->
	    <!-- vote service -->
	    <bean id="solutionVoteService" class="com.SVRPlatform.service.impl.SolutionVoteServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="solutionDAO" ref="solutionDAO"></property>
	    </bean>
	    <bean id="bugWatchService" class="com.SVRPlatform.service.impl.BugWatchServiceImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    	<property name="bugDAO" ref="bugDAO"></property>
	    </bean>
	<!-- ************************************************************************ -->
    <!-- DAOImpls beans definition -->
    <bean id="userDAO" class="com.SVRPlatform.dao.impl.UserDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bugDAO" class="com.SVRPlatform.dao.impl.BugDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="softwareDAO" class="com.SVRPlatform.dao.impl.SoftwareDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="solutionDAO" class="com.SVRPlatform.dao.impl.SolutionDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="commentDAO" class="com.SVRPlatform.dao.impl.CommentDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="hashForPasswordRetrieveDAO" class="com.SVRPlatform.dao.impl.HashForPasswordRetrieveDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="solutionVoteDAO" class="com.SVRPlatform.dao.impl.SolutionVoteDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bugWatchDAO" class="com.SVRPlatform.dao.impl.BugWatchDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="solutionCommentDAO" class="com.SVRPlatform.dao.impl.SolutionCommentDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
</beans> 
