<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">  
    <!-- Action -->  
    
    <bean id="index" scope="prototype" class="com.SVRPlatform.action.Index">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    
     <bean id="signInAutomatically" scope="prototype" class="com.SVRPlatform.action.SignInAutomatically">
    	<property name="loginService" ref="loginService"></property>
    </bean>
   
    
    <bean id="signin" scope="prototype" class="com.SVRPlatform.action.SignIn">
    	<property name="loginService" ref="loginService"></property>
    </bean>
    
    <bean id="signup" scope="prototype" class="com.SVRPlatform.action.SignUp">
    	<property name="registerService" ref="registerService"></property>
    </bean>
    
    <bean id="retrievepassword" scope="prototype" class="com.SVRPlatform.action.RetrievePassword">
    	<property name="passwordretrieveservice" ref="passwordretrieveservice"></property>
    </bean>
    
    <bean id="checkinghash" scope="prototype" class="com.SVRPlatform.action.CheckingHash">
    	<property name="passwordretrieveservice" ref="passwordretrieveservice"></property>
    </bean>
    
    <bean id="resetpassword" scope="prototype" class="com.SVRPlatform.action.ResetPassword">
    	<property name="passwordretrieveservice" ref="passwordretrieveservice"></property>
    </bean>
    
    <bean id="submitbug" scope="prototype" class="com.SVRPlatform.action.SubmitBug">
    	<property name="bugsubmitService" ref="bugsubmitService"></property>
    </bean>
    
    <bean id="bugpage" scope="prototype" class="com.SVRPlatform.action.DisplayBug">
   		<property name="bugInfoDisplayService" ref="bugInfoDisplayService"></property>
    </bean>
    
	<!-- ************************************************************************ -->
    <!-- ServiceImpls beans definition -->
    <bean id="loginService" class="com.SVRPlatform.service.impl.LoginServiceImpl">
    	<property name="userDAO" ref="userDAO"></property>
    </bean>
    
     <bean id="registerService" class="com.SVRPlatform.service.impl.RegisterServiceImpl">
    	<property name="userDAO" ref="userDAO"></property>
    </bean>
    
   	<bean id="bugInfoDisplayService" class="com.SVRPlatform.service.impl.BugInfoDisplayServiceImpl">
   		<property name="bugDAO" ref="bugDAO"></property> 
    	<property name="solutionDAO" ref="solutionDAO"></property>
    </bean> 
    
    <bean id="commentsDisplayService" class="com.SVRPlatform.service.impl.CommentDisplayServiceImpl">
    	<property name="bugDAO" ref="bugDAO"></property>
    	<property name="commentDAO" ref="commentDAO"></property>
    </bean>
    
    <bean id="bugsubmitService" class="com.SVRPlatform.service.impl.BugSubmitServiceImpl">
    	<property name="userDAO" ref="userDAO"></property>
    	<property name="bugDAO" ref="bugDAO"></property>
    	<property name="softwareDAO" ref="softwareDAO"></property>
    </bean>
    
    <bean id="passwordretrieveservice" class="com.SVRPlatform.service.impl.PasswordRetrieveServiceImpl">
    	<property name="userDAO" ref="userDAO"></property>
    	<property name="hashForPasswordRetrieveDAO" ref="hashForPasswordRetrieveDAO"></property>
    </bean>
	
	
	
	<!-- ************************************************************************ -->
    <!-- DAOImpls beans definition -->
    <bean id="userDAO" class="com.SVRPlatform.dao.impl.UserDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="bugDAO" class="com.SVRPlatform.dao.impl.BugDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="softwareDAO" class="com.SVRPlatform.dao.impl.SoftwareDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="solutionDAO" class="com.SVRPlatform.dao.impl.SolutionDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="commentDAO" class="com.SVRPlatform.dao.impl.CommentDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="hashForPasswordRetrieveDAO" class="com.SVRPlatform.dao.impl.HashForPasswordRetrieveDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
</beans> 
